# custom
temp*.md
temp*.js
temp*.vb
temp*.js
temp*.py
temp*.fx

# dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# builds
dist/
packages/*/dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.local.*
.env
session.json
.local
book.zip
book_unz/
vba_dump/

# Excel workbooks
*.xls
*.xlsx
*.xlsm
*.xlsb
*.xltx
*.xltm

# rust
rust/target/
apps/webextension/pkg/
