name: Release userscripts

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: 20
          cache: npm

      - name: Install deps
        run: npm ci

      - name: Build userscripts
        env:
          US_BASE_URL: https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}
        run: npm run build

      - name: Upload artifacts to release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          files: |
            dist/*.user.js
